*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.conteiner{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 70px ;
    grid-area: " navbar" 
                "main "
                "footer";
}


.navbar{
    background-color:rgb(2, 2, 5);
}

.main{
    background-color:rgb(196, 70, 21);
}

.footer{
    background-color:rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
}
.navbar .menuLink .navLink a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    
    
}

.navbar .menuLink .navLink a:hover {
    color:rgb(117, 117, 108);
    }
.navbar{
    align-items: center;
    display: flex;
   justify-content: center;
    
}

.navbar .menuLink{
    display: flex;
    list-style: none;

}
.logo a img{
    width: 80px;
    border-radius:20px ;
    height: 100px; ;
  
}
.logo{
    border-radius:20px ;
    width: 100px;
     float: right;
 
}


.navbar .menuLink{
    display: flex;
    list-style: none;

}
.navbar .menuLink .navLink{
    padding: 20px;
}

.producto{
    flex-direction:column;
    padding-left: 20px;
    float: left;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    

}
.productoImg{
    width: 250px;
    border-radius: 20px;
    box-shadow:5px 8px 12px black ;
    transform: all 2s;

}
.productoImg:hover{
    transform: scale(1.3);
   
}
.btn{
    color: antiquewhite;
    background-color: black;
    border-radius: 3px;
    
}
.producto div {
 padding-left: 6px;
 background-color: rgb(222, 248, 248);
 border-radius: 20px;
}
@media screen and (max-width: 668px) {
 .main{
    background-color: brown;
    position: relative;

    }
   .navbar .menuLink .navLink a{
    font-size:12px ;
    }
    
    .navbar{
        display: flex;
        justify-content: start;
    }
    
 } 

    
     

